*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

.header {
  padding: 48px 16px;
  text-align: center;
  background-color: #eee;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}
